@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
html {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(255, 255, 255, .5)), url('https://picsum.photos/1920/1080.jpg');
    /* url('https://picsum.photos/1920/1080.jpg') */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.header {
    width: calc(100vw - 2rem);
    margin: 1rem auto;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
    line-height: 5rem;
    border-radius: 1rem;
}

.container {
    width: calc(100vw - 4rem);
    margin: 1rem;
    height: calc(100vh - 10rem);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    overflow-y: auto;
    padding: 1rem;
    position: relative;
}

.form-group-names {
    width: calc(100% - 2rem);
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.form-group-names textarea {
    width: inherit;
    border-radius: 0.5rem 1.5rem 1.5rem;
    padding: 1rem;
    height: 5rem;
    background-color: rgb(245, 245, 245, 0.8);
}

.form-group-names button {
    margin: 1rem auto;
    width: 100%;
    line-height: 3rem;
    border: 1px solid rgb(245, 245, 245, 0.8);
    border-radius: 0.5rem 1.5rem 1.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

table.added-names {
    width: 100%;
    margin: 1rem auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table.added-names th,
table.added-names td {
    border-bottom: 1.5px solid whitesmoke;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
}

table.added-names th:last-child {
    border-radius: 0 1.5rem 0 0;
}

table.added-names th:first-child {
    border-radius: 1.5rem 0 0 0;
}

table.added-names .names-column {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.added-names .names-action,
table.added-names .column-action {
    text-align: right;
    width: 10%;
}

table.added-names .column-action {
    cursor: pointer;
}

.proceed-adding-expenses {
    position: absolute;
    bottom: 0;
    width: 15rem;
    right: 1rem;
    margin: 1rem auto;
    font-size: 1rem;
    line-height: normal;
    border: 1px solid rgb(245, 245, 245, 0.8);
    border-radius: 0.5rem 1.5rem 1.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
}

.proceed-adding-expenses:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-group-expenses-line {
    width: calc(100% - 2rem);
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-group-expenses-line-block {
    width: 100%;
}

.form-group-expenses-line-block label {
    color: transparent;
    -webkit-text-stroke: 0.8px #000;
    font-weight: 300;
}

.form-group-expenses-line-block select {
    margin: 5px 0 0 0;
}

.form-group-expenses-line .expense-name {
    width: 70%;
    border-radius: 0.5rem 0.5rem 0.5rem 1.5rem;
    padding: 0.5rem;
    background-color: rgb(245, 245, 245, 0.8);
}

.form-group-expenses-line .expense-amount {
    width: 30%;
    border-radius: 0.5rem 0.5rem 1.5rem 0.5rem;
    padding: 0.5rem;
    background-color: rgb(245, 245, 245, 0.8);
}

.form-group-expenses-line .expense-person {
    width: 100%;
    border-radius: 0.5rem 0.5rem 1.5rem 0.5rem;
    padding: 0.5rem;
    background-color: rgb(245, 245, 245, 0.8);
}

.form-group-expenses-line .payee-person {
    border-radius: 0.5rem 0.5rem 1.5rem 0.5rem;
    padding: 0.5rem;
    background-color: rgb(245, 245, 245, 0.8);
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.payee-person .stakeholder {
    flex: 1 1 50%;
}


#names-container,
#expenses-container,
#settlement-container {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease, zoom 0.5s ease;
}

#names-container.hide,
#expenses-container.hide,
#settlement-container.hide {
    opacity: 0;
    zoom: 0.0001;
    visibility: hidden;
    pointer-events: none;
}

.remove-from-screen {
    display: none !important;
}

.container .toggle-expense-form-btn,
.container .dump-expense-to-history-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0px solid transparent;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.container .go-back-btn,
.container .previous-expenses {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0px solid transparent;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 2px #000;
}

.button-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-group-expenses-line-block.button-holder .add-expense-btn {
    zoom: 1.5;
    border: 1px solid whitesmoke;
    background: transparent;
    border-radius: 25%;
}

.form-group-expenses-line-block.button-holder .close-expense-btn {
    zoom: 1.5;
    border: 1px solid whitesmoke;
    background: transparent;
    border-radius: 25%;
}

.expense-list {
    height: calc(100% - 5rem);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.expense-list-table {
    width: 100%;
    height: calc(100% - 4rem);
}

.expense-list-table-item {
    color: whitesmoke;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.expense-list-table-item .line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem 0;
    position: relative;
}

.expense-list-table-item-name,
.expense-list-table-item-paid-by {
    flex: 10;
    padding-left: 2rem;
}

.expense-list-table-item-remove-expense {
    text-align: right;
    cursor: pointer;
    padding: 0 0.5rem 0 0.5rem;
    border: 2px solid;
    border-radius: 50%;
    zoom: 0.75;
}

.no-expenses {
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

.expense-list-table-item .line:first-child::before {
    content: '₿';
    flex: 1;
    position: absolute;
    top: 25%;
    font-size: 1.5rem;
}

.proceed-to-settle {
    width: calc(100% - 2rem);
    margin: 0.5rem 1rem;
    font-size: 1rem;
    line-height: normal;
    border: 1px solid rgb(245, 245, 245, 0.8);
    border-radius: 0.5rem 1.5rem 1.5rem;
    background-color: transparent;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
}